:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  color: #333;
  background-color: #fffefb;
}

a {
  font-weight: bold;
  color: hsla(207, 44%, 49%, 1);
  text-decoration: none;
}
a:visited {
  color: hsla(207, 44%, 40%, 1);
}
a:hover {
  text-decoration: underline;
}

header {
  margin: 5rem;
  text-align: center;
  width: 25%;
  min-width: 25rem;
}
p {
  line-height: 2.4rem;
}
main {
  overflow: auto;
  min-width: 40rem;
  max-width: 100rem;
  width: 60%;
  flex-shrink: 0;
  margin: 5rem;
}
.hidden {
  display: none;
}
.lorem__img {
  width: 36rem;
  height: 24rem;
}
.demo-box, .demo-nline {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.demo-box div {
  font-size: 1.2rem;
  width: 30rem;
  height: 30rem;
  overflow: auto;
}
.annotations p{
  line-height: normal;
}
.demo-prop {
  display: flex;
  justify-content: center;
  align-items: center;
}
#demo-prop__2 img {
  padding: 20rem;
}
#demo-prop__1 img {
  padding: 10rem;
  width: 400px;
  height: 300px;
}

.demo-nline {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}
#demo-nline__nline {
  width: 20rem;
  height: 12rem;
  overflow: auto;  
}
.demo-nline__graph {
  width: 20rem;
  height: 20rem;
  overflow: auto;
}
